<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.jyutping.inputmethod.Jyutping</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.jyutping.inputmethod.Jyutping.IME</string>
				<key>TISIntendedLanguage</key>
				<string>yue</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>icon.png</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>icon.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>icon.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.jyutping.inputmethod.Jyutping.IME</string>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
        <key>LSHasLocalizedDisplayName</key>
        <true/>
	<key>InputMethodConnectionName</key>
	<string>Jyutping_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).JyutpingInputController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISIntendedLanguage</key>
	<string>yue</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>icon.png</string>
</dict>
</plist>
