# Image
*.apng binary
*.avif binary
*.gif binary
*.heic binary
*.heif binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.svg binary
*.webp binary

# Video
*.av1 binary
*.mov binary
*.mp4 binary
*.webm binary

# Font
*.otc binary
*.otf binary
*.ttc binary
*.ttf binary

# Sparkle
/Sparkle.framework/** binary

# Swift Package Resources
/Modules/AppDataSource/Sources/AppDataSource/Resources/** binary
/Modules/CoreIME/Sources/CoreIME/Resources/** binary
/Modules/Preparing/Sources/Preparing/Resources/** binary
