# Image
*.apng binary
*.avif binary
*.gif binary
*.heic binary
*.heif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.svg binary
*.webp binary

# Video
*.av1 binary
*.mov binary
*.mp4 binary
*.webm binary

# Font
*.otc binary
*.otf binary
*.ttc binary
*.ttf binary

# Sparkle
/Sparkle.framework/** binary

# Swift Package Resources
/Modules/Preparing/Sources/Preparing/Resources/cangjie3.txt     binary
/Modules/Preparing/Sources/Preparing/Resources/cangjie5.txt     binary
/Modules/Preparing/Sources/Preparing/Resources/chohok.txt       binary
/Modules/Preparing/Sources/Preparing/Resources/collocation.txt  binary
/Modules/Preparing/Sources/Preparing/Resources/definition.txt   binary
/Modules/Preparing/Sources/Preparing/Resources/fanwan.txt       binary
/Modules/Preparing/Sources/Preparing/Resources/gwongwan.txt     binary
/Modules/Preparing/Sources/Preparing/Resources/jyutping.txt     binary
/Modules/Preparing/Sources/Preparing/Resources/pinyin.txt       binary
/Modules/Preparing/Sources/Preparing/Resources/stroke.txt       binary
/Modules/Preparing/Sources/Preparing/Resources/structure.txt    binary
/Modules/Preparing/Sources/Preparing/Resources/yingwaa.txt      binary
