# Images
*.png binary
*.heic binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.apng binary
*.pdf binary

# Videos
*.mp4 binary
*.mov binary
*.webm binary

# Fonts
*.otf binary
*.ttf binary
*.ttc binary
*.otc binary

# Sparkle
/Jyutping/Sparkle.framework/** binary

# Swift Package Resources
/Modules/AppDataSource/Sources/AppDataSource/Resources/** binary
/Modules/CoreIME/Sources/CoreIME/Resources/** binary
/Modules/Preparing/Sources/Preparing/Resources/** binary
