<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.jyutping.inputmethod.Jyutping.JyutpingIM</key>
			<dict>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>Jyutping</string>
				</dict>
				<key>TISInputSourceID</key>
				<string>org.jyutping.inputmethod.Jyutping.JyutpingIM</string>
				<key>TISIntendedLanguage</key>
				<string>yue</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>jyutpingime.pdf</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>jyutpingime.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>jyutpingime.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.jyutping.inputmethod.Jyutping.JyutpingIM</string>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).JyutpingInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>$(PRODUCT_MODULE_NAME).JyutpingInputController</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://jyutping.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>MaIeb2a5zTv+hpwycNCYXmPBxMr1+eho9PQmHJjZkNk=</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISIntendedLanguage</key>
	<string>yue</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>jyutpingime.pdf</string>
</dict>
</plist>
